In [1]:
import os
import pandas as pd

## Adjust Clean

In [16]:
data_path = './data-modified-resized-clean/train/DataTrain.csv'

df = pd.read_csv(data_path, delimiter=';')
directory = './data-modified-resized-clean/train/data/'
df = df.drop('Unnamed: 0', axis=1)

In [18]:
# png to jpg
df['NameofFile'] = df['NameofFile'].str.replace('.png', '.jpg')

In [19]:
df

    Vehicleregistrationplate        NameofFile
0                      A7814    DataTrain1.jpg
1                    B1074QO    DataTrain2.jpg
2                    B1031QO    DataTrain3.jpg
3                    B187EDA    DataTrain4.jpg
4                    B1089VD    DataTrain5.jpg
..                       ...               ...
795                 B1677EJC  DataTrain796.jpg
796                  B1743VO  DataTrain797.jpg
797                 AD1416YD  DataTrain798.jpg
798                 AB5419TN  DataTrain799.jpg
799                 AB6315SE  DataTrain800.jpg

[800 rows x 2 columns]

In [20]:
# assuming 'df' is your DataFrame and 'directory' is the directory you want to check
df = df[df['NameofFile'].apply(lambda x: os.path.exists(os.path.join(directory, x)))]

In [21]:
df

    Vehicleregistrationplate        NameofFile
3                    B187EDA    DataTrain4.jpg
4                    B1089VD    DataTrain5.jpg
5                   B1972RBP    DataTrain6.jpg
7                   AB6268YQ    DataTrain8.jpg
9                   B1554EJA   DataTrain10.jpg
..                       ...               ...
791                  A8815VX  DataTrain792.jpg
793                 AB1364AN  DataTrain794.jpg
795                 B1677EJC  DataTrain796.jpg
796                  B1743VO  DataTrain797.jpg
797                 AD1416YD  DataTrain798.jpg

[712 rows x 2 columns]

In [22]:
df.to_csv('./data-modified-resized-clean/train/DataTrain-Cleaned.csv', index=False)

## Adjust Augment

In [45]:
data_path = './data-modified-resized-augment/train-aug/DataTrain.csv'

df = pd.read_csv(data_path, delimiter=';')
directory = './data-modified-resized-clean/train/data/'
df = df.drop('Unnamed: 0', axis=1)

repeat = 30

In [46]:
paths = df.NameofFile.tolist()
labels = df.Vehicleregistrationplate.tolist()
adjusted_paths = []
adjusted_labels = []

In [47]:
for i, label in enumerate(labels):
  for j in range(repeat):
    img_base, ext = os.path.splitext(paths[i])
    img_modified = img_base+f'-{j}'+ext
    adjusted_paths.append(img_modified)
    adjusted_labels.append(label)

In [48]:
modified_df = pd.DataFrame({'labels': adjusted_labels, 'images_path': adjusted_paths})

In [49]:
modified_df

         labels          images_path
0         A7814     DataTrain1-0.png
1         A7814     DataTrain1-1.png
2         A7814     DataTrain1-2.png
3         A7814     DataTrain1-3.png
4         A7814     DataTrain1-4.png
...         ...                  ...
23995  AB6315SE  DataTrain800-25.png
23996  AB6315SE  DataTrain800-26.png
23997  AB6315SE  DataTrain800-27.png
23998  AB6315SE  DataTrain800-28.png
23999  AB6315SE  DataTrain800-29.png

[24000 rows x 2 columns]

In [51]:
# save the updated DataFrame to a new CSV file
modified_df.to_csv('./data-modified-resized-augment/train-aug/updated_labels.csv', index=False)