In [1]:
import os
import cv2
import pandas as pd

In [6]:
folder_path = './data-modified/train/data/'
csv_path = './data-modified/train/DataTrain.csv'

# Load labels from CSV file
labels_df = pd.read_csv(csv_path, delimiter=';')
labels = labels_df['Vehicleregistrationplate'].values

# Load images from folder
images = []
for filename in os.listdir(folder_path):
    img = cv2.imread(os.path.join(folder_path, filename))
    if img is not None:
        images.append(img)

In [10]:
labels_df['NameofFile'] = labels_df['NameofFile'].str.replace('.png', '.jpg')
labels_df

     Unnamed: 0 Vehicleregistrationplate        NameofFile
0             0                    A7814    DataTrain1.jpg
1             1                  B1074QO    DataTrain2.jpg
2             2                  B1031QO    DataTrain3.jpg
3             3                  B187EDA    DataTrain4.jpg
4             4                  B1089VD    DataTrain5.jpg
..          ...                      ...               ...
795         795                 B1677EJC  DataTrain796.jpg
796         796                  B1743VO  DataTrain797.jpg
797         797                 AD1416YD  DataTrain798.jpg
798         798                 AB5419TN  DataTrain799.jpg
799         799                 AB6315SE  DataTrain800.jpg

[800 rows x 3 columns]

In [ ]:
labels_df.drop('Unnamed')